
body {
	background-color:var(--color-background2);
}

h2 {
	font-family: 'bacardi1';
	text-transform: uppercase;
	font-size: 0.875em;
	margin-top: 1em;
}

h3 {
	font-family: 'bacardi';
	text-transform: uppercase;
	font-size: 1.7em;
	margin: 0;
} 

main img {
	max-width: 100%;
} 

ul {
	padding: 0;
}

p {
	font-family: 'calibri'; 
	font-size: large;
	line-height: 1.5em;
	margin-top: .4em;
	color: var(--color-text);
} 

video {
	display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* -------------------------------------- */

section:nth-of-type(1){
	position: relative;
}

h1 {
	position: absolute;
	bottom: 1em;
	left: .4em;

	font-family: "bacardi";
	text-transform: uppercase;
	font-size: 3.5em;
	letter-spacing: -2px;
	color: rgba(0,0,0,.1);
    -webkit-text-stroke: 1.5px #fff;
}

section:nth-of-type(1) button {
	position: absolute;
	bottom: 1em;
	left: 1.3em;

	border: none;
	background-color: transparent;
}

/* -------------------------------------- */

section:nth-of-type(2) {
	margin: 1.5em;
}

section:nth-of-type(2) ul {
	display: grid;
	list-style: none;
	row-gap: 1em;
}

section:nth-of-type(2) ul li{
	position: relative;
}

/* Bronnen: Coyier, Chris(mar 13, 2018). Notched Boxes; https://css-tricks.com/notched-boxes/ */
section:nth-of-type(2) ul li img{
	width:100%;
	height:25em;
	object-fit: cover;
		clip-path: 
		  polygon(
			0% 5%,     /* top left */
			5% 0%,     /* top left */
			95% 0%,    /* top right */
			100% 5%,   /* top right */
			100% 95%,  /* bottom right */
			95% 100%,  /* bottom right */
			5% 100%,   /* bottom left */
			0 95%      /* bottom left */
		  );
	  }

section:nth-of-type(2) ul div{
	position: absolute;
	bottom:1.5em;
	left: 1em;
	margin-right: 2em;
	z-index: 4;
}

section:nth-of-type(2) ul a {
	text-decoration: none;
	color: var(--color-textimg);
}

/* ---------------load more button------------------------ */

section:nth-of-type(2) button {
	display: block;
	text-align: center;
	width: 100%;

	font-family: 'bacardi';
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-accent);
	background-color: transparent;
	border: var(--color-accent) .2em solid;

	padding: 1.2em;
	margin-top: 1em;
}

/* bron: Gaver, Dirk(25 feb 2021). The Best CSS Button Hover Effects You Can Use Too; https://www.sliderrevolution.com/resources/css-button-hover-effects/ */
section:nth-of-type(2) button:hover {
	color: var(--color-textimg);
	box-shadow: inset 0 -4.25em 0 0 var(--color-accent);
	transition: .3s;
} 

@keyframes loading {
	0% {
		background-position: right center;
	}
	100% {
		background-position: left center;
	}
}

@media(prefers-reduced-motion:no-preference) {
	section:nth-of-type(2) button.loading {
		background-image: 
		repeating-linear-gradient(
			45deg,
			var(--color-accent) 0% 4%,
			transparent 0 6%,
			var(--color-accent) 0% 10%
		);
		background-size: 200% 100%;

		animation-name:loading;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		box-shadow: unset;
	}
}


.hide {
	display: none;
}