/**************/
/* FONTS */
/**************/
@font-face {
	font-family: 'bacardi';
	src: url(../fonts/GrotesqueMTStd-BoldExtended.woff2);
	font-weight: bold;
}

@font-face {
	font-family: 'bacardi1';
	src: url(../fonts/GrotesqueMTStd-Condensed.woff2);
}

@font-face {
	font-family: 'bacardi3';
	src: url(../fonts/GrotesqueMTStd.woff2);
}

@font-face {
	font-family: 'bacardi4';
	src: url(../fonts/GrotesqueMTStd\ \(1\).woff2);
}

@font-face {
	font-family: 'bacardi5';
	src: url(../fonts/GrotesqueMTStd-Bold.woff2);
}

@font-face {
	font-family: 'bacardi6';
	src: url(../fonts/GrotesqueDispMTStd-BoldCn.woff2);
}

@font-face {
	font-family: 'bacardi7';
	src: url(../fonts/Neutra2Cond-Titling\ \(2\).woff2);
}

@font-face {
	font-family: 'bacardi8';
	src: url(../fonts/satisfy-regular\ \(1\).woff2);
}

@font-face {
	font-family: 'bacardi9';
	src: url(../fonts/Anton-Regular.woff2);
}

@font-face {
	font-family: 'bacardi10';
	src: url(../fonts/Trueno.woff2);
}

@font-face {
	font-family: 'bacardi11';
	src: url(../fonts/TruenoBold.woff2);
	font-weight: bold;
}

@font-face {
	font-family: 'bacardi12';
	src: url(../fonts/fontello\ \(1\).woff2);
}

@font-face {
	font-family: 'calibri';
	src: url(../fonts/Calibri.woff2);
}

/* ****************
STOND ER AL IN 
**************** */

*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

:root {
	/* startje */
	--color-text:#464646;
	--color-accent:#c10020;
	--color-background:rgb(255, 255, 255);
	--color-background2:#fffbf3;
	--color-footer1:#272624;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text:#eeeeee;
		--color-accent:#fc7878;
		--color-background:#1a1918;
		--color-background2:#292826;
		--color-footer1:#1c1c1c;
	}
}


body {
	margin: 0;
	padding: 0;
	background-color: var(--color-background2);
} 

/* ******************
BASIS ELEMENTEN
****************** */

h1 {
	clip: rect(0 0 0 0);
  	clip-path: inset(50%);
}

h2 {
	font-family: 'bacardi1';
	text-transform: uppercase;
	font-size: 0.875em;
	margin-top: 1em;
}

h3 {
	font-family: 'bacardi';
	text-transform: uppercase;
	font-size: 2.3em;
	margin: 0;
} 

video {
	width: 100%;
	margin-top: 2em;
	min-height: 20em;
    object-fit: cover;
}

main img {
	max-width: 100%;
} 

ul {
	padding: 0;
}

p {
	font-family: 'calibri'; 
	font-size: large;
	line-height: 1.5em;
	margin-top: .4em;
	color: var(--color-text);
} 

/* ******************
PAGINA INDELING
****************** */

main section:nth-of-type(1) {
	margin-top: 3em;
}

main section:nth-of-type(1) li {
	position: relative;
}

main section:nth-of-type(1) p {
	color: var(--color-background);
}

main section:nth-of-type(1) > h2 {
	display: none;
}

main section:nth-of-type(1) li:nth-of-type(1) img {
	width:100%;
	min-height:20em;
	object-fit: cover;
	filter: brightness(0.7);
} 

main section:nth-of-type(1) li:nth-of-type(2) img {
	width:100%;
	min-height:20em;
	object-fit: cover;
	filter: brightness(0.7);
} 

main section:nth-of-type(1) li:nth-of-type(3) img {
	width:100%;
	min-height:20em;
	object-fit: cover;
	filter: brightness(0.7);
} 

main section:nth-of-type(1) div{
	position: absolute;
	top: 2em;
	left: 1em;
	right: 2em;
	color: var(--color-background);
	z-index: 90;
}

main section:nth-of-type(1) div h3 {
	margin-bottom: .1em;
}

main section:nth-of-type(1) div:nth-of-type(2) {
	width: 100%;
	height: 100%;
}

/* ---------------------------------- */

main section:nth-of-type(2) {
	padding: 1em;
	background-color: var(--color-background2);
}

main section:nth-of-type(2) div{
	display: flex;
	flex-direction: column-reverse;
}

main section:nth-of-type(2) div h2{
	display: block;
	order: 3;
}

main section:nth-of-type(2) div h3{
	margin-top: 0;
	order: 2;
}

main section:nth-of-type(2) div p{
	color: var(--color-text);
	order: 1;
}

main section:nth-of-type(2) div img{
	margin-top: 0;
	margin-right: 0;
	order: 4;
}

main section:nth-of-type(2) section:nth-of-type(1) {
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}


main section:nth-of-type(2) section a{
	text-decoration: none;
	width: 20em;
}


figure {
	margin: 0;
	margin-left: 20%;
	scroll-snap-align: center;
	width: 15em;
	text-align: center;
	margin-right: -3em;

}

figure img {
	height: 15em;
}

figcaption {
	font-family: 'bacardi';
	text-transform: uppercase;
	text-align: center;
	margin: .8em;
	color: #111;
}


main section:nth-of-type(2) section a:last-of-type {
	border: none;
	height: 20em;
}

main section:nth-of-type(2) a:last-of-type {
	display: block;
	text-align: center;
	width: 100%;
	padding: 1.2em;
	margin-top: 1em;

	font-family: 'bacardi';
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-accent);

	border: var(--color-accent) .2em solid;
}

main section:nth-of-type(2) section h2 {
	display: none;
}

/* ------------------------------------- */

section:nth-of-type(3) {
	padding: 1em;
	padding-top: 2em;
	background-color: var(--color-background2);
}


::-webkit-scrollbar {
	width: 2em;
	color: var(--color-accent);
}

section:nth-of-type(3) div ul {
	display: flex;
	overflow-x: auto;
}

section:nth-of-type(3) div ul li {
	position: relative;
	margin-top: 2em;
	height: 24em;
	padding: 8em;
	padding-bottom: 0;
	list-style: none;
}

section:nth-of-type(3) div ul li img{
	position: absolute;
	bottom: 0;
	left: .5em;
}

section:nth-of-type(3) div ul li h3{
	position: absolute;
	top: .3em;
	left: .3em;
	font-size: 2em;
	color: var(--color-background2);
}


section:nth-of-type(3) div ul li:first-child {
	background-color: rgb(79, 138, 144);
	/* margin-left: 1em; */
}

section:nth-of-type(3) div ul li:nth-child(2) {
	background-color: rgb(92, 157, 101);
}

section:nth-of-type(3) div ul li:nth-child(3) {
	background-color: rgb(92, 157, 101);
}

main section:nth-of-type(3) a:last-of-type {
	display: block;
	text-align: center;
	width: 100%;
	padding: 1.2em;

	font-family: 'bacardi';
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--color-accent);

	border: var(--color-accent) .2em solid;
}

main section:nth-of-type(3) a:last-of-type:active{
	background-color: var(--color-accent);
}

/* ------------------------------------------ */

main section:nth-of-type(4) div {
	position: relative;
	width: 100%;
	height: 23em;
}

main section:nth-of-type(4) div img:nth-of-type(1) {
	position: absolute;
	top: 2em;
    right: 3em;
    width: 10em;
	z-index: 1;
}

main section:nth-of-type(4) div img:nth-of-type(2) {
	position: absolute;
	right: 0;
    bottom: 0;
    width: 72vw;
	z-index: 2;
}

main section:nth-of-type(4) div img:nth-of-type(3) {
	position: absolute;
	top: 0;
    left: 0;
    width: 17em;
	z-index: 3;
}


main section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	margin: 1em;
	margin-top: 2em;
}

main section:nth-of-type(4) h2 {
	display: block;
}

main section:nth-of-type(4) section:first-of-type {
	position: relative;
}

main section:nth-of-type(4) p {
	color: var(--color-text);
}

summary {
	font-family: 'bacardi';
	font-size: 1.125em;
	text-transform: uppercase;
	padding: 8.5vw 6.4vw 0;
	border-bottom: solid lightgray .02em;
}

/* ------------------------------------------ */