/**************/
/* FONTS */
/**************/
@font-face {
	font-family: 'bacardi';
	src: url(../fonts/GrotesqueMTStd-BoldExtended.woff2);
	font-weight: bold;
}

@font-face {
	font-family: 'bacardi1';
	src: url(../fonts/GrotesqueMTStd-Condensed.woff2);
}

@font-face {
	font-family: 'bacardi3';
	src: url(../fonts/GrotesqueMTStd.woff2);
}

@font-face {
	font-family: 'bacardi4';
	src: url(../fonts/GrotesqueMTStd\ \(1\).woff2);
}

@font-face {
	font-family: 'bacardi5';
	src: url(../fonts/GrotesqueMTStd-Bold.woff2);
}

@font-face {
	font-family: 'bacardi6';
	src: url(../fonts/GrotesqueDispMTStd-BoldCn.woff2);
}

@font-face {
	font-family: 'bacardi7';
	src: url(../fonts/Neutra2Cond-Titling\ \(2\).woff2);
}

@font-face {
	font-family: 'bacardi8';
	src: url(../fonts/satisfy-regular\ \(1\).woff2);
}

@font-face {
	font-family: 'bacardi9';
	src: url(../fonts/Anton-Regular.woff2);
}

@font-face {
	font-family: 'bacardi10';
	src: url(../fonts/Trueno.woff2);
}

@font-face {
	font-family: 'bacardi11';
	src: url(../fonts/TruenoBold.woff2);
	font-weight: bold;
}

@font-face {
	font-family: 'bacardi12';
	src: url(../fonts/fontello\ \(1\).woff2);
}

@font-face {
	font-family: 'calibri';
	src: url(../fonts/Calibri.woff2);
}

/* ****************
STOND ER AL IN 
**************** */

*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
	/* startje */
	--color-text:#111;
	--color-background:rgb(255, 255, 255);
}

body {
	margin: 0;
}

/* ******************
BASIS ELEMENTEN
****************** */

h1 {
	clip: rect(0 0 0 0);
  	clip-path: inset(50%);
}

h2 {
	font-family: 'bacardi1';
	text-transform: uppercase;
	font-size: 0.875em;
	margin-top: 0;
}

h3 {
	font-family: 'bacardi';
	text-transform: uppercase;
	font-size: 2.5em;
	margin: 0;
} 

video {
	width: 100%;
	margin-top: 2em;
	min-height: 20em;
    object-fit: cover;
}

img {
	max-width: 100%;
} 

ul {
	padding: 0;
}

p {
	font-family: 'calibri'; 
	font-size: large;
	line-height: 1.5em;
} 

/* ******************
PAGINA INDELING
****************** */

/* ------NAVIGATION----------------- */

header {
	position: sticky;
	top:0;
	background-color: rgb(255, 255, 255);
	z-index: 100;
}

nav ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 5.33vw 5.33vw;
	margin-top: 0;
	margin-bottom: 0;
}

nav ul li:nth-of-type(2){
	width: 2em;
	padding: 0;
}

/* ---------------------------------- */

main section:nth-of-type(1) li {
	position: relative;
}

main section:nth-of-type(1) li:nth-of-type(2) img {
	width:100%;
	min-height:20em;
	object-fit: cover;
} 

main section:nth-of-type(1) li:nth-of-type(3) img {
	width:100%;
	min-height:20em;
	object-fit: cover;
} 

main section:nth-of-type(1) div{
	position: absolute;
	top: 2em;
	left: 1em;
	right: 2em;
	color: white;
}

/* ---------------------------------- */

figure {
	margin: 0;
	margin-left: 20%;
	scroll-snap-align: center;
	width: 15em;
}

figure img {
	width: 15em;
}

figcaption {
	font-family: 'bacardi';
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

main section:nth-of-type(2) {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

/* ------------------------------------- */

section:nth-of-type(3) div ul {
	display: flex;
	overflow-x: auto;
	overflow: scroll;
}

section:nth-of-type(3) div ul li {
	padding: 2em;
	padding-bottom: 0;
}

section:nth-of-type(3) div ul li:first-child {
	background-color: aqua;
	margin-left: 10%;
}

/* ------------------------------------------ */

summary {
	font-family: 'bacardi';
	font-size: 1.125em;
	text-transform: uppercase;
	padding: 8.5vw 6.4vw 0;
}

/* ------------------------------------------ */

footer {
	margin-top: 5em;
	position: relative;
	background-color: rgb(46, 43, 43);
	/* height: 50em; */

	padding: 8em 2em 2em;
}


footer img{
	width: 12em;
	position: absolute;
	top: 2em;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer section {
	/* position: absolute; */
	/* top: 8em; */
	/* left: 2em; */
}

footer section ul li {
	list-style: none;
}

footer section h2 {
	color: rgb(232, 232, 232);
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 3em;
}

footer section a {
	position: relative;
	font-family: 'bacardi';
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.25em;
	color: white;
	/* border-bottom: double .5em white; */
}




footer section li a {
	font-family: 'bacardi';
	text-decoration: none;
	text-transform: uppercase;
	font-size: .875em;
    line-height: 1.714;
	color: white;
	border: none;
}

footer section:nth-of-type(1) a {
	display: flex;
	/* background-color: red; */
	justify-content: space-between;

}

footer section:nth-of-type(1) a::after {
	content:"▶︎";
}

footer section:nth-of-type(1) a::before {
	content:"";
	position:absolute;
	top:100%;
	left:0;
	right:0;
	height:.3em;
	/* background-color: yellow; */
	border-top:solid 1px white;
	border-bottom:solid 1px white;
}